.footer-wrapper {
  display: flex;
  justify-content: space-around;
  width: 99.9%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  height: 55px;
  opacity: 0;
}
.button-styles {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 40px;
}
a {
  color: #cdedf6;
}
